<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <title>AttendMe</title>
  </head>
  <body>
    <header>
      <h1 id="EventBanner">AttendMe</h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      <aside id="aside">
        <h2>Join us for an empowering event!</h2>
        <p>Hosted by Team 5</p>
        <p>Date: 18 May 2023</p>
        {{format_distance}}
        <div id="countdown"></div>
        <p>Price: £25 per person</p>
        <p>Event starts at 3pm at Birmingham Crystal Event</p>
        <p id="registrationMessage"></p>
        <img
          src="https://www.mapsinternational.co.uk/pub/media/catalog/product/800x/w/o/world-wall-map-physical-without-flags_wm00912.jpg"
          alt="test image map"
          width="100%"
          height="250px"
        />
      </aside>
      <section id="partial">
        {{{body}}}
      </section>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/rsvp">RSVP</a></li>
          <li><a href="/itinerary">Itinerary</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/login">Organiser Login</a></li>
        </ul>
      </nav>
    </main>
    <footer>
      <p>&copy; 2023 AttendMe. All rights reserved.</p>
    </footer>
  </body>
</html>