<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <title>AttendMe</title>
  </head>
  <body>
    <header>
      <h1 id="EventBanner">AttendMe</h1>

      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
        <nav>
          <button class="button" id="logout">logout</button>
        </nav>
      {{/if}}
    </header>
    <main>
      <aside id="aside">
        <h2>Join us for an empowering event!</h2>
        <p>Hosted by Team 5</p>
        <p>Date: 18 May 2023</p>
        {{format_distance}}
        <div id="countdown"></div>
        <p>Price: £25 per person</p>
        <p>Event starts at 3pm at Utilitia Arena</p>
        <p id="registrationMessage"></p>
        <img
          src="/images/MapPlaceholder.jpg"
          alt="test image map"
          width="100%"
          height="250px"
        />
      </aside>
      <section id="partial">
        {{{body}}}
      </section>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/rsvp">RSVP</a></li>
          <li><a href="/itinerary">Itinerary</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </main>
    <footer>
      <p>&copy; 2023 AttendMe. All rights reserved.</p>
    </footer>
  </body>
</html>
{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}