<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    {{! link other CSS if needed }}
    <link rel="stylesheet" href="/css/style.css" />
    <title>AttendMe</title>
  </head>
  <body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/index.js"></script>
  </body>
</html>