<h2>Contact Us</h2>
<p>Checkout our FAQ page where we hope we have answered most of your questions</p>
<p>
  {{! used placeholder links, these would be changed when deployed }}
  For any other event based queries, please email us
  <a href="mailto:info@attendme.com">here</a>
  or if you have a question about this site, please contact
  <a href="mailto:email">AttendMe</a>
  or raise an issue on our
  <a href="mailto:email">github page</a>. if you'd like a page of your own for
  an upcoming event, simply visit
  <a href="www.attendme.com">AttendMe</a>
  for an elegant event website in minutes.
</p>