<h2>Event Name</h2>
<h4>You're invited</h4>
{{#if logged_in}}
  <a href="/">home</a>
  <button class="no-button" id="logout">logout</button>
{{else}}
  <a href="/login">login</a>
{{/if}}
<p>
  We'd like to invite you to our [event], to celebrate [occurance] & have a
  great night
</p>
<h4>Key details</h4>

<container>
  <ul>
    <li>No children under 18</li>
    <li>1 Free drink on arrival</li>
    <li>Formal Dress code</li>
    <li>Accomodation available at venue</li>
  </ul>
  <img
    src="https://www.verizon.com/about/sites/default/files/2022-05/stadium-1230x690.jpg"
    alt="test image venue"
    width="600px"
    height="400px"
  />
</container>