<h2>Itinerary</h2>
<ul>
  <li>3:00pm - Arrival and registration</li>
  <li>3:30pm - Introduction and icebreaker activities</li>
  <li>4:30pm - Group discussions and activities</li>
  <li>6:00pm - Dinner and networking</li>
  <li>7:00pm - Closing remarks and farewell</li>
</ul>