{{! login for admin users only}}
<h1>Event organiser login</h1>
<container>
  <form class="loginform">
    <label for="Uname">Username</label>
    <input type="text" id="Uname" name="Uname" />
    <label for="pass">Password</label>
    <input type="password" id="pass" name="pass" required />
    <button type="submit" id="login">Login</button>
  </form>
</container>
<script src="/js/login.js"></script>
{{! brings in the script to handle login  }}