<h1>Let us know if you're joining us</h1>
<container>
  <form class="RSVPform">
    <label for="guestfname">First Name</label>
    <input type="text" id="guestfname" name="guestfname" />
    <label for="guestlname">Last Name</label>
    <input type="text" id="guestlname" name="guestlname" />
    <button type="submit" id="submit">Search</button>
  </form>
</container>
<script src="/js/rsvp.js"></script>