<container>
  {{#if logged_in}}
    <h1>Guest list</h1>
    <button type="submit" id="seeguestlist">See guest list</button>
    <ul id="guestList" style="display:none"></ul>
    <h2>put content here for logged in users (show big list of guests)</h2>
    <form class="invform">
      <label for="invfname">First Name</label>
      <input type="text" id="invfname" name="invfname" />
      <label for="invlname">Last Name</label>
      <input type="text" id="invlname" name="invlname" />
      <button type="submit" id="submit">Invite</button>
    </form>
    <script src="/js/guestlist.js"></script>
  {{else}}
    <h1>Let us know if you're joining us</h1>
    <form class="RSVPform">
      <label for="guestfname">First Name</label>
      <input type="text" id="guestfname" name="guestfname" />
      <label for="guestlname">Last Name</label>
      <input type="text" id="guestlname" name="guestlname" />
      <button type="submit" id="submit">Search</button>
    </form>
    <h3 id="guestCheck"></h3>
    <script src="/js/rsvp.js"></script>
  {{/if}}
</container>