<container id="RSVP">
  {{! gives different data depending on if the user is logged in }}
  {{#if logged_in}}
    {{! logged in users get to see a guestlist button, and invite function }}
    <h1>Guest list</h1>
    <button type="submit" id="seeguestlist">See guest list</button>
    <ul id="guestList" style="display:none"></ul>
    <h2>Invite someone</h2>
    <form class="invform">
      <label for="invfname">First Name</label>
      <input type="text" id="invfname" name="invfname" />
      <label for="invlname">Last Name</label>
      <input type="text" id="invlname" name="invlname" />
      <button type="submit" id="submit">Invite</button>
    </form>
    <script src="/js/guestlist.js"></script>
  {{else}}
    {{! non logged in users get a form to check if they're invited }}
    <h1>See if you're on the list</h1>
    <form class="RSVPform">
      <label for="guestfname">First Name</label>
      <input type="text" id="guestfname" name="guestfname" />
      <label for="guestlname">Last Name</label>
      <input type="text" id="guestlname" name="guestlname" />
      <button type="submit" id="submit">Search</button>
    </form>
    <h3 id="guestCheck"></h3>
    <script src="/js/rsvp.js"></script>
  {{/if}}
</container>